#card1 {
	background-image: url("/images/petals2.jpg");
	background-position: bottom center;
}

#card1 .container p {
	max-width: 900px;
	font-family: "Domaine Sans", sans-serif;
	font-size: 25px;
	font-weight: 300;
	line-height: 40px;
	letter-spacing: -0.3px;
}

#card1 .container a {
	margin-bottom: 0;
}

@media (max-width: 1100px) {
	#card1 .container p {
		max-width: 720px;
		text-align: left;
	}
}

@media (max-width: 800px) {
	#card1 .container {
		padding: 75px 0 150px 0;
	}

	#card1 .container p {
		max-width: 410px;
		text-align: left;
		font-size: 20px;
		line-height: 35px;
	}
}