.card1 {
	position: relative;
	display: table;
	width: 100%;
	height: 100vh;
	height: -webkit-fill-available;
	padding: 30px 40px;
	text-align: center;
	background: url("/images/petals.jpg") no-repeat center center;
	background-size: cover;
	box-sizing: border-box;
	opacity: 0;
}

.card1 .container {
	display: table-cell;
	vertical-align: middle;
	white-space: nowrap;
	padding: 100px 0;
}

.card1 .container p {
	font-family: "Domaine Sans", sans-serif;
	font-size: 25px;
	font-weight: 300;
}

.card1 .container #names span {
	font-family: "Recoleta", sans-serif;
	font-size: 80px;
	font-weight: 300;
	letter-spacing: 0px;
}

.card1 .container #names #plus {
	display: none;
}

.card2 {
	width: 100%;
	padding: 100px 40px;
	background: #FFFBF8;
	text-align: center;
	box-sizing: border-box;
}

.card2 img {
	width: 100%;
	max-width: 800px;
}

h1 {
	display: block;
	max-width: 750px;
	margin: 20px auto;
	font-family: "Recoleta", serif;
	font-size: 60px;
	font-weight: 300;
	letter-spacing: 0px;
}

h3 {
	display: block;
	max-width: 750px;
	margin: 20px auto;
	font-family: "Domaine Sans", sans-serif;
	font-size: 18px;
	line-height: 30px;
	font-weight: 300;
	text-align: left;
}

@media (max-width: 800px) {
	.card1 .container {
		color: #7C003B;
	}

	.card1 .container .wrapper {
		display: inline-block;
		padding: 116px 95px 87px 95px;
		background: #EFD9DB;
		border-radius: 5000px;
		box-shadow: inset 0 0 0 10px #EFD9DB,
					inset 0 0 0 11px rgba(124,0,59,.15);
	}

	.card1 .container p:first-child {
		margin-bottom: 15px;
	}

	.card1 .container p:last-child {
		margin-top: 10px;
	}

	.card1 .container #names span {
		display: block;
		line-height: 80px;
	}

	.card1 .container #names #ampersand {
		display: none;
	}

	.card1 .container #names #plus {
		display: block;
		font-family: "Domaine Sans", sans-serif;
		font-size: 25px;
		line-height: 0px;
		margin: 5px 0 15px 0;
	}
}

@media (max-width: 600px) {
	.card1 {
		padding: 30px 0;
	}

	.card1 .container .wrapper {
		padding: 86px 75px 61px 75px;
	}

	.card1 .container p {
		font-size: 19px;
	}

	.card1 .container #names span {
		font-size: 60px;
		line-height: 60px;
	}

	.card1 .container #names #plus {
		font-size: 19px;
		margin: 5px 0 15px 0;
	}

	h1 {
		margin: 10px auto;
		font-size: 50px;
	}

	h3 {
		margin: 10px auto;
		font-size: 16px;
		line-height: 28px;
	}
}

@media (max-width: 400px) {
	.card1 .container {
		position: absolute;
		left: -9999px;
		right: -9999px;
		top: calc(50% - 280px);
	}
}
