body {
	overflow: hidden;
}

.header .rsvp a {
	color: #2f4051;
	background: transparent;
	padding: 0;
	margin: 9px 30px 6px 30px;
	border-radius: 0;
	border-bottom: 1.5px solid #D7C6BB;
	text-transform: lowercase;
	font-size: 16px;
	font-weight: 400;
}

.container {
	position: absolute;
	left: 0;
	right: 0;
	top: 0px;
	bottom: 0;
}

iframe {
	width: 100%;
	height:;
}

@media (max-width: 800px) {
	.header.active .rsvp a {
		padding: 0;
		font-size: 30px;
		font-weight: 300;
	}
}